[role=grid] {
    border-color: black;
    height: 100%;
    margin-top: 0.5%;
}

.responsiveTable {
    background-color: gray;
    border: 3px !important;
    border-color: black !important;
}

.responsiveTable td.pivoted {
    border: 3px !important;
}

[role=grid] {
    height: 100%;
    margin-top: 0.5%;
}

.responsiveTable {
  background-color: dimgray;
}

th {
    background-color: gray;
}

td {
    background-color: darkgray;
}