[role=grid] {
    border-color: black;
    height: 100%;
    margin-top: 0.5%;
    --webkit-overflow-scrolling: auto;  /* TODO: See if this fixes jitter on other laptop */
    max-width: 100vw
}

[role=gridcell], [role=columnheader] {
    background-color: gray !important;
}